/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.explanation {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-palette {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la paleta de colores */
.paleta {
  margin-top: 20px;
  cursor: pointer;
}

.paleta summary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.paleta details {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.paleta details summary {
  background-color: transparent;
  padding: 5px;
}

/* Estilos para las tablas de colores */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.color-box {
  width: 20px;
  height: 20px;
}

/* Estilos para los títulos */
h1 {
  font-size: 24px;
  text-align: center; /* Agregar esta línea para centrar el título */
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
