/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}


.color-list {
  list-style-type: decimal;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.color-item {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.color-item:hover {
  background-color: #007bff;
  color: #fff;
}


/* Estilos para la paleta de colores */
.paleta {
  margin-top: 20px;
  flex: 1;
  padding: 20px;
  background-color: #fee8e8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paleta summary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos para las tablas de colores */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background-color: #9c9c9c;
}

.color-box {
  width: 20px;
  height: 20px;
}


.blanco td {
  position: relative;
}

.blanco td::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  opacity: 0;
}

/* Estilos para el contenido */
h1 {
  font-family: Arial, sans-serif;
  margin-top: 25px;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
