body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #008080;
  border-bottom: 2px solid #008080;
  padding-bottom: 10px;
}

p {
  margin-bottom: 20px;
  text-align: justify;
}

.caja {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.summary {
  cursor: pointer;
  color: #008080;
  font-weight: bold;
  padding: 5px 10px;
  border: 5px groove #008080;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.summary:hover {
  background-color: #008080;
  color: #fff;
}

.caja p {
  display: none;
}

.caja details[open] p {
  display: block;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #008080;
  text-decoration: none;
  border: 1px solid #008080;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-link:hover {
  background-color: #008080;
  color: #fff;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0px 7px 0px hsla(283, 34%, 34%, 0.7);
  background-color: hsla(283, 34%, 47%);
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}

button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: transform 0.35s cubic-bezier(0.5, 0.7, 0.4, 1);
}

button:hover:before {
  transition: all 0s;
  transform: translateY(100px);
  opacity: 0;
}

button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

button:hover {
  transition: all 0.2s ease;
  transform: translateY(0);
  opacity: 1;
}

button:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}